# To be able to run this code you need to install the following:
# --------------------------------------------------------------
# 1. Visual Studio Code
# 2. Python3
# 3. pip to be able to install Python packages
# 4. check50
# 5. Libraries needed:
#     1- pip3 install python3
#     2- pip3 install plotly version 4.14.3
#     3- pip3 install pandas version 1.2.0
#     4- pip3 install numpy  version 1.19.5